# Configuración de base de datos Oracle (Thin Mode)
DB_USER=USUARIO_DB
DB_PASSWORD=CONTRASEÑA_DB
DB_CONNECTION_STRING=host:puerto/SID_o_SERVICE_NAME

# Puerto del servidor API
PORT=3001

# SMW SOAP Endpoints
SMW_GEOREF_URL=http://.../WSGeorreferenciarCRService/
SMW_RFS_URL=http://.../WsRfsDireccionesService/
SMW_LIBERAR_URL=http://.../WsM6LiberarRecursosService/
